#clientForm {
    display: flex;
    flex-direction: row;
}

#formCol1 {
    min-width: 50%;
}

#formCol2 {
    min-width: 50%;
}

@media (max-width: 700px) {
    #clientForm {
        flex-direction: column;
    }

    #clientForm {
        flex: 1;
    }
}

.form-group {
    margin-bottom: 2em;
}

.error {
    border: 2px solid #FF6565;
}

.error-message {
    color: #FF6565;
    padding: .5em .2em;
    height: 1em;
    position: absolute;
    font-size: .8em;
}

td {
    /* word-break: break-word;
     */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

table {
    overflow: x;
    word-break: break-word;

}