body {
  font-family: "Open Sans", sans-serif;
}


ul {
  list-style: none;
}




li {
  line-height: 80px;
  margin: 0;
  background-color: white;

}

li a {
  width: 1000px;
  text-decoration: none;
  color: #111111;

}


/* calender css */
.calendarContainer{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}


.c1 {
  box-shadow: 2px 2px 5px #1111113f;
  border: none;
  justify-content: center;
}

/* job list css */
.jobParent{
  display:flex;
  justify-content: center;
}

.jobContainer{
  margin: 10px;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.275); 
}
.jobInfo{
  margin: 10px;
}

.jobs{
  margin-top: 20px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}

.jobItem{
  /* box-shadow: 2px 2px 5px #1111113f; */
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #1111115b;
  margin:10px
}