body, html {
    height: 100vh;
    margin: 0;
}
  
  .bg {
    /* The image used */
    background-image: url("../../asset/background2.jpg");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;  
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .DisAlert{
    color:red;
    font-size: 12px;
    font-style: italic;
  }


.logo{
  display: flex;
  justify-self: center;  
  align-self: center;
  height: 30%;
  width: auto;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}


.loginForm.formFlex{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    position: absolute;
    height: 40%;
    width: 30%;
    min-height: fit-content;
    min-width: fit-content;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering; see link below */
    display: flex;
    padding: 10px;
    /* align-items: center; */
    flex-direction: column;
  }
.loginInput{
  box-sizing: border-box;
  margin: 10px 0;
  border: 0;
  box-shadow:3px 5px 9px 1px rgba(0, 0, 0, 0.198);
  border-radius: 5px;
  /* width:300px; */
  padding: 10px;
  width: 100%;
}
.submitForm{
  display: flex;
  margin-top: 20px;
  align-self: center;
  width: 70%;
  font-weight: 300;
  height: 30px;
  border-radius: 2;
  background-color: transparent;
  border: 2px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}
.submitForm:hover{
  border: 2px solid rgb(90, 90, 90);
  color: rgb(90, 90, 90);
}

.formItem{
  width: fit-content;
  width: 90%;
}

